.list {
    .list-wrapper {
        ul {
            list-style: none;

            li.list-option {
                cursor: pointer;
                user-select: none;
                margin: 5px;
                border-radius: 6px;
                div.list-option-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 16px;
                }

                &:hover {
                    background-color: var(--highlight-bg);
                }
            }
        }
    }
}