.list {
    .list-wrapper {
        ul {
            list-style: none;

            li.list-option {
                cursor: pointer;
                user-select: none;
                margin: 5px;
                border-radius: 6px;
                div.list-option-wrapper {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    padding: 10px 16px;

                    div {
                        min-width: 200px;

                        &[contenteditable] {
                            outline: none;
                            border: 1px solid rgb(88, 88, 88);
                            padding: 5px 12px;
                            border-bottom: 2px solid var(--primary-color);
                            border-radius: var(--border-radius);
                        }
                    }
                }

                &:hover,&.active {
                    background-color: var(--highlight-bg);
                }
            }
        }
    }
}