.todo {
    display: flex;
    border: 1px solid gray;

    .panel {
        width: max-content;
        &:nth-child(1) {
            min-width: 200px;
            border-right: 1px solid gray;
        }
        &:nth-child(2) {
            flex: 1;
        }
    }
}